#title{
  text-align:center
}
#picture{
  text-align:center
}
#picture2{
  text-align:center;
}
#header{
  text-align: center
}
#header2{
  text-align: center
}
#who{
  color:lightpink
}
#basic{
  color:lightpink
}
#header2 {
background-color: lightpink;
}
#header {
  background-color: lightpink
}
#title{
  color:lightpink
}
