#pic{
text-align:center;
}
#College{
  text-align: center;
  color:  #00064f;
  background-color: lightpink;
}
#p{
  text-align: center;
  color: lightpink;

}
#Topic{
  text-align: center;
  color:lightpink;

}
#Head{
  text-align:center;
  color: #00064f;
  text-size: 20px;
  background-color: lightpink;
}
